{% extends 'base.html.twig' %}

{% block head %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="generator" content="Jekyll v3.8.5">

{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="stylesheets/base.css">
    <link rel="stylesheet" href="stylesheets/aeroport.css">
{% endblock %}

{% block body %}

<div class="text-center">
    <div class="p-lg-5">
        <img class="img-top-body" src="images/logo_royal_palace.jpg">
    </div>
        <div class="col-md-8 mx-auto mt-3">
        <h1>Vos informations sont elles excates ?</h1>
        <hr class="py-3">
<div style="text-align:center">
                <h5><strong>Lieu de départ:</strong>&nbsp{{royalpalace.depart}}</h5></br>
                <h5><strong>Destination:</strong>&nbsp{{royalpalace.destination}}</h5></br>       
                <h5><strong>E-mail:</strong>&nbsp{{royalpalace.email}}</h5></br>
                <h5><strong>Téléphone:</strong>&nbsp{{royalpalace.telephone}}</h5></br>
                <h5><strong>Nombre de passagers Aller:</strong>&nbsp{{royalpalace.nbrePassagerAller}}</h5></br>
                <h5><strong>Nombre de passagers Rétour:</strong>&nbsp{{royalpalace.nbrePassagerRetour}}</h5></br>
                <h5><strong>Date de départ:</strong>&nbsp{{royalpalace.dateDepart| date('d/m/Y')}}</h5></br>
                <h5><strong>Date de rétour:</strong>&nbsp{{royalpalace.dateRetour| date('d/m/Y')}}</h5></br>
                <h5><strong>Heure de départ:</strong>&nbsp{{royalpalace.horaireDepart}}</h5></br>
                <h5><strong>Heure de rétour:</strong>&nbsp{{royalpalace.horaireRetour}}</h5></br>  

                {% if (royalpalace.nbrePassagerAller <=4) and (royalpalace.nbrePassagerRetour <= 4)  %}
                <h5><strong>Prix:</strong>&nbsp 160€</h5></br>
                {% else %} 
                <h5><strong>Prix:</strong>&nbsp 300€</h5></br>
                {% endif %}
          </div>
            <center>
                <a href="reservationEffectuee?name=confir" class="btn btn-yellow"  type="submit">Confirmer la réservation</a>                              
                <a href="royalpalacereservation?name=retour" class="btn btn-yellow"  >Réfaire votre réservation</a>
            </center>    

                   <!--
                 <a href="terminusAllerSimple?name=confir" class="btn btn-yellow">confirmer réservation</a>
                <a href="memorialPageAcceuil?name=retour" class="btn btn-yellow">Réfaire votre réservation</a>
                  -->




        

    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function () {
            'use strict';
            window.addEventListener('load', function () {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
    </script>
{% endblock %}

{% block javascripts %}

    <script src="javascript/reservationAeroport.js"></script>

{% endblock %}
